html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
	height: 100%;
    position: relative;
    // overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
} 

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 10px;
}


